{% extends 'base.html' %}
 {% block title %}Single employee{% endblock title%} 
{% block content %}



<div class="container mb-5">
    <div  class="text-center my-3">
        <img src="/media/{{user.employee_image}}" class="rounded-circle img-fluid"  style="height: 250px;" />
    </div>
    {% comment %} <h1 class="text-center">Employee details</h1> {% endcomment %}
    <div class="card">
        <h1 class="card-header text-center bg-dark text-white">Employee details</h1>
        <div class="card-body">
          <p class="card-text">
            <div class="d-flex my-3 container border text-center col-sm-12 col-md-12">
                <table class="table table-border table-hover col-12 col-sm-12 col-md-12">
                    <tbody>
                        <tr>
                            <th class='text-right'>ID:</th>
                            <td class='text-left'>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th class='text-right'>Name:</th>
                            <td class='text-left'>{{ user.employee_name }}</td>
                        </tr>
                        <tr>
                            <th class='text-right'>Email:</th>
                            <td class='text-left'>{{ user.employee_email }}</td>
                        </tr>
                        <tr>
                            <th class='text-right'>Phone:</th>
                            <td class='text-left'>{{ user.employee_phone }}</td>
                        </tr>
                        <tr>
                            <th class='text-right'>Salary:</th>
                            <td class='text-left'>{{ user.employee_salary }}</td>
                        </tr>
                        <tr>
                            <th class='text-right'>Bonus:</th>
                            <td class='text-left'>{{ user.employee_bonus }}</td>
                        </tr>
                        <tr>
                            <th class='text-right'>Role:</th>
                            <td class='text-left'>{{ user.employee_role }}</td>
                        </tr>
                        <tr>
                            <th class='text-right'>Department:</th>
                            <td class='text-left'>{{ user.employee_department }}</td>
                        </tr>
                        <tr>
                            <th class='text-right'>Eductaion:</th>
                            <td class='text-left'>{{ user.employee_education }}</td>
                        </tr>
                        <tr>
                            <th class='text-right'>Location:</th>
                            <td class='text-left'>{{ user.employee_location }}</td>
                        </tr>
                       
                       
                    </tbody>
                </table>
            </div>
          </p>
        </div>
      </div>

    
</div>



{% endblock content %}